<!DOCTYPE html>
<html>
  <head>
    <title>Auth</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>username is <%= username %></p>
    <p>password is <%= password %></p>
   
  </body>
</html>